<div class="main-sidebar">
   <div class="sidebar-close-toggler navbar-btn">
      <a href="#" id="sidebar-close-button"> <!-- Added ID -->
         <svg version="1.1" width="16" height="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 492 492"  xml:space="preserve">
            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
         c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
         c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
         L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
         c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
         c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
         c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
            </svg>
        </a>
   </div>
   <div class="my-544">
      <div class="row align-items-center">
         <div class="col-auto">
            <div class="profile-img-item">
               <img src="./assets/uploads/user.jpg" class="rounded-circle" alt="profile">
            </div>
         </div>
         <div class="col ps-1">
            <div class="profile-details">
               <h4 class="mb-2" id="dashboard-username"></h4>
               <p class="mb-0 text-grsay" id="dashboard-refcode"></p>
            </div>
         </div>
      </div>
   </div>
   <hr>
    
   <div class="menu-sidebar">
      <ul>
         <li class="bottom-border">
                <a href="./profile.html"> <!-- Corrected href, removed id -->
                   <img src="./assets/uploads/img/4.png" style="margin-right: 5px;" width="20px">
                PROFILE </a>
            </li>
         <li class="bottom-border">
            <a href="./deposits.html">
               <img src="./assets/uploads/img/4.png" style="margin-right: 5px;" width="20px">
               DEPOSIT
            </a>
         </li>
         <li class="bottom-border">
            <a href="./withdraws.html">
               <img src="./assets/uploads/img/3.png"  style="margin-right: 5px;" width="20px">
               WITHDRAWAL
            </a>
         </li>
         <li class="bottom-border">
            <a href="./certificates.html">
               <img src="./assets/uploads/img/2.png"  style="margin-right: 5px;" width="20px">
               CERTIFICATES
            </a>
         </li>
         <li class="bottom-border">
            <a href="./events.html">
               <img src="./assets/uploads/img/6.png"  style="margin-right: 5px;" width="20px">
               LATEST EVENTS
            </a>
         </li>
         <li class="bottom-border">
            <a href="./memberships.html">
               <img src="./assets/uploads/img/6.png"  style="margin-right: 5px;" width="20px">
               MEMBERSHIPS
            </a>
         </li>
         <li class="bottom-border">
            <a href="./terms.html">
               <img src="./assets/uploads/img/5.png"  style="margin-right: 5px;" width="20px">
               TERMS & CONDITIONS
            </a>
         </li>
         <li class="bottom-border">
            <a href="./faqs.html">
               <img src="./assets/uploads/img/7.png"  style="margin-right: 5px;" width="20px">
               FAQs
            </a>
         </li>
         <li class="bottom-border">
            <a href="./company.html">
               <img src="./assets/uploads/img/8.png"  style="margin-right: 5px;" width="20px">
               ABOUT US
            </a>
         </li>
         <li class="bottom-border">
                <a href="#" class="logout"> <!-- Changed href and added class -->
                  <img src="./assets/uploads/img/8.png"  style="margin-right: 5px;" width="20px">
                    LOGOUT
                </a>
            </li>

      </ul>
   </div>
    <!-- <div class="copyright-item">
        <p class="fs-14">Copyright © All Right Reserved</p>
    </div> -->
</div>
